@import './../../../styles/colors.scss';
@import './../../../styles/media.scss';

.select {
  appearance: none;
}

.field-arrow {
  pointer-events: none;
  position: absolute;
  height: 30px;
  width: 30px;
  top: 15px;
  right: 15px;
  @media (max-width: $tablet) {
    height: 24px;
    width: 24px;
    top: 15px;
    right: 15px;
  }
}
