@import './../../../styles/media.scss';

.flex-product-block {
  display: flex;
  @media (max-width: $tablet) {
    display: block;
  }
}

.product-image-block {
  position: relative;
  flex: 1;
}

.product-image-block__absolute-animation {
  position: relative;
  margin-bottom: 20px;
}

.product-image-block img {
  transition: 1s;
  opacity: 0;
  max-width: 100%;
  height: auto;
  @media (max-width: $tablet) {
    display: block;
    margin: 0 auto;
    max-height: 300px;
  }
}

.product-image-block_left img {
  transform: translateX(-150%);
  -webkit-transform: translateX(-150%);
  -moz-transform: translateX(-150%);
  -o-transform: translateX(-150%);
  -ms-transform: translateX(-150%);
}

.product-image-block_right img {
  float: right;
  transform: translateX(150%);
  -webkit-transform: translateX(150%);
  -moz-transform: translateX(150%);
  -o-transform: translateX(150%);
  -ms-transform: translateX(150%);
  @media (max-width: $tablet) {
    float: inherit;
    margin: 0 auto;
  }
}

.product-text-block_right {
  margin-left: 80px;
  flex: 2;
  @media (max-width: $tablet) {
    margin-left: 0;
  }
}

.product-text-block_left {
  margin-right: 80px;
  flex: 2;
  @media (max-width: $tablet) {
    margin-right: 0;
  }
}

.product-list-section__button {
  margin-top: 40px;
  @media (max-width: $tablet) {
    margin: 20px 0;
  }
}
