@import './../../../styles/colors.scss';
@import './../../../styles/media.scss';

.sitemap-wrapper {
  height: 320px;
  color: $color-gray-brightest;
  background-color: $color-twilight-faint;
  @media (max-width: $tablet) {
    height: auto;
  }
}

.sitemap-wrapper a {
  color: $color-gray-brighter;
}

.sitemap-column {
  margin-top: 25px;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  @media (max-width: $tablet) {
    margin-top: 0;
    margin-right: 0;
  }
}

.sitemap-column:last-child {
  margin-right: 0px;
}
