@import './../../styles/colors.scss';

button {
  border-radius: 6px;
  color: $color-white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: 0.5s;
  cursor: pointer;
}
