@import './../../styles/colors.scss';
@import './../../styles/media.scss';

.form__server-message {
  border: 2px solid $color-red;
  border-radius: 8px;
  color: $color-red;
  padding: 20px 15px;
  margin-bottom: 36px;
}

.form__success-message {
  border: 2px solid $color-neon-accent;
  border-radius: 8px;
  color: $color-neon-accent;
  padding: 20px 15px;
  margin-bottom: 36px;
}

.form-field-set {
  display: block;
}

.form-field-set__element {
  flex: 1 1 auto;

  @media (max-width: $tablet) {
    flex: auto;
  }
}

.form-field-button {
  text-align: right;
}
