@import './../../../styles/colors.scss';
@import './../../../styles/mixins.scss';
@import './../../../styles/media.scss';

.advantage-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  @media (max-width: $tablet) {
    margin-top: 20px;
  }
}

.advantage-list__item {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin-right: 40px;
}

.item-title-container {
  margin-bottom: 15px;
  @media (max-width: $tablet) {
    margin-bottom: 0;
  }
}

.item-logo-container {
  margin-right: 20px;
  display: inline-block;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.item-title-text {
  display: inline-block;
  position: relative;
}

.advantage-list-button-block {
  position: relative;
  height: 100px;
  width: 100%;
  @media (max-width: $tablet) {
    height: 50px;
  }
}

.advantage-list-button {
  padding-top: 50px;
  float: right;
  @media (max-width: $tablet) {
    padding-top: 0;
  }
}

.content-container__title {
  margin-bottom: 55px;
}

.item-logo-container {
  width: 50px;
  height: 50px;
  @media (max-width: $tablet) {
    width: 40px;
    height: 40px;
  }
}

.item-logo-image {
  height: 100%;
  width: 100%;
}

.content-container-bg-image {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.advantage-list-smooth-transition {
  position: absolute;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.advantage-list-smooth-section {
  height: 200px;
  width: 100%;
  @media (max-width: $tablet) {
    height: 50px;
  }
}

.advantage-list-gradient {
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 0)),
    to(rgba(0, 0, 0, 1))
  );
  @include HorizontalGradient($color-blue-faint, $color-pink-faint);
}

.advantage-list-bg {
  @include HorizontalGradient($color-blue-faint, $color-pink-faint);
}
