@import './../../../../styles/media.scss';

// Banner Element elements

.header-banner {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px;
  line-height: 1.1;
}

// Selling Block

.selling {
  margin: 35px 50px 0 50px;
  display: flex;
  justify-content: space-between;
  z-index: -1;
  @media (max-width: $tablet) {
    margin: 10px 20px 0 20px;
  }
}

.selling__animation_left {
  transition: 0.75s;
  transition-timing-function: ease;
  margin-left: -300px;
  opacity: 0;
}

.selling__animation_top {
  transition: 0.75s;
  transition-timing-function: ease;
  margin-top: 300px;
  opacity: 0;
  position: absolute;
}

.selling__text {
  max-width: 750px;
  transition: 0.75s;
  @media (max-width: $tablet) {
    max-width: calc(100vw - 170px);
  }
  @media (max-width: $mobile) {
    max-width: calc(100vw - 130px);
  }
}

.selling__text h2 {
  color: white;
  font-weight: 200;
  @media (max-width: $tablet) {
    font-size: 28px;
  }
}

.selling__button {
  display: inline-block;
  margin-top: 10px !important;
  transition-delay: 0.15s;
}

.selling__image {
  position: relative;
  text-align: right;
  padding-top: 35px;
}

.selling__image img {
  height: 200px;
  @media (max-width: $tablet) {
    max-height: 130px;
  }
  @media (max-width: $mobile) {
    max-height: 90px;
  }
}

.selling__description {
  position: relative;
  float: left;
  margin-top: 60px;
  @media (max-width: $tablet) {
    margin-top: 20px;
  }
}
