@import './colors.scss';
@import './media.scss';

html,
body {
  max-width: 100% !important;
  overflow-x: hidden !important;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: $color-blue;
  transition: 0.5s;
}

a:hover {
  color: $color-blue;
  text-decoration: underline;
}

h1 {
  color: $color-black;
  font-size: 80px;
  margin-bottom: 35px;
}

h2 {
  color: $color-black;
  font-size: 48px;
  font-weight: 300;
  margin: 0;
  margin-bottom: 25px;
  @media (max-width: $tablet) {
    font-size: 32px;
    margin-bottom: 10px;
  }
}

h3 {
  color: $color-black;
  font-size: 36px;
  font-weight: 300;
  margin: 0;
  @media (max-width: $tablet) {
    font-size: 28px;
    margin-bottom: 10px;
  }
}

h5 {
  color: $color-black;
  font-size: 30px;
  font-weight: 300;
  margin: 0;
}

button {
  background-color: $color-neon-bright;
  border: 1px solid $color-neon-accent;
  border-radius: 6px;
  color: $color-white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: 0.5s;
}

button:hover {
  background-color: $color-neon-hover;
}

select::-ms-expand {
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
  filter: alpha(opacity=0);
  opacity: 0;
}

.content-wrapper {
  z-index: 100;
  width: 100%;
  position: absolute;
  overflow-x: hidden;
  overflow-y: hidden;
}

.content-container-bg {
  position: relative;
  color: $color-black;
  background-color: $color-white;
}

.content-container-wrapper {
  max-width: 1300px;
  margin: 0 auto;
  padding: 120px 0 80px 0;
  @media (max-width: $tablet) {
    padding: 40px 0 40px 0;
  }
}

.content-container {
  margin: 0 50px;
  @media (max-width: $tablet) {
    margin: 0 20px;
  }
}
