$color-black: black;
$color-black-hover: #444;

$color-gray: #777;
$color-gray-faint: #222;
$color-gray-bright: #ccc;
$color-gray-brighter: #ddd;
$color-gray-brightest: #eee;

$color-white: white;

$color-twilight: #273c61;
$color-twilight-faint: #324970;

$color-blue: #1d80b9;
$color-blue-faint: #4994c0;
$color-blue-bright: #51a5d6;
$color-blue-hover: #1a74a8;
$color-blue-border: #0d5c8a;

$color-neon: #95dad7;
$color-neon-bright: #03c99e;
$color-neon-accent: #007e62;
$color-neon-hover: #00bb92;

$color-pink: #ec809d;
$color-pink-bright: #e7c2cc;
$color-pink-faint: #cdadb7;

$color-yellow-faint: #c9ba03;

$color-red: red;

:export {
  colorBlack: $color-black;
  colorBlackHover: $color-black-hover;

  colorGray: $color-gray;
  colorGrayFaint: $color-gray-faint;
  colorGrayBright: $color-gray-bright;
  colorGrayBrighter: $color-gray-brighter;
  colorGrayBrightest: $color-gray-brightest;

  colorWhite: $color-white;

  colorTwilight: $color-twilight;
  colorTwilightFaint: $color-twilight-faint;

  colorBlue: $color-blue;
  colorBlueFaint: $color-blue-faint;
  colorBlueBright: $color-blue-bright;
  colorBlueHover: $color-blue-hover;
  colorBlueBorder: $color-blue-border;

  colorNeon: $color-neon;
  colorNeonBright: $color-neon-bright;
  colorNeonAccent: $color-neon-accent;
  colorNeonHover: $color-neon-hover;

  colorPink: $color-pink;
  colorPinkBright: $color-pink-bright;
  colorPinkFaint: $color-pink-faint;

  colorYellowFaint: $color-yellow-faint;

  colorRed: $color-red;
}
