@mixin HorizontalGradient($color1, $color2) {
  background: $color1;
  background: -moz-linear-gradient(left, $color1 0%, $color1 0%, $color2 100%);
  background: -webkit-linear-gradient(
    left,
    $color1 0%,
    $color1 0%,
    $color2 100%
  );
  background: linear-gradient(to right, $color1 0%, $color1 0%, $color2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#95dad7',GradientType=1 );
}

@mixin HorizontalSplit($color1, $color2) {
  background: $color1;
  background: -moz-linear-gradient(
    left,
    $color1 0%,
    $color1 0%,
    $color1 50%,
    $color2 50%,
    $color2 100%
  );
  background: -webkit-linear-gradient(
    left,
    $color1 0%,
    $color1 0%,
    $color1 50%,
    $color2 50%,
    $color2 100%
  );
  background: linear-gradient(
    to right,
    $color1 0%,
    $color1 0%,
    $color1 50%,
    $color2 50%,
    $color2 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#95dad7',GradientType=1 );
}
