@import './../../styles/colors.scss';
@import './../../styles/media.scss';

.calculator-wrapper {
  display: flex;
  margin-bottom: 10px;
  @media (max-width: $tablet) {
    display: block;
  }
}

.calculator-fields-section {
  flex: 1;
  @media (max-width: $tablet) {
    flex: auto;
  }
}
.calculator-result-section {
  flex: 1;
  margin-left: 20px;
  border: 2px solid $color-gray;
  background-color: $color-gray-brightest;
  border-radius: 8px;
  padding: 10px 15px;
  height: 134px;
  @media (max-width: $tablet) {
    flex: auto;
    height: auto;
    margin-left: 0;
    margin-bottom: 26px;
  }
}

.calculator-result {
  color: $color-neon-bright;
  font-size: 28px;
  @media (max-width: $tablet) {
    font-size: 22px;
  }
}

.calculator-result-description {
  color: $color-black;
  font-size: 16px;
  @media (max-width: $tablet) {
    font-size: 16px;
  }
}
