@import './../../../../styles/colors.scss';
@import './../../../../styles/media.scss';

.modal-form {
  display: flex;
  width: 100%;
}

.modal-form__content {
  flex: 1 1 auto;
  min-width: 50%;
}

.modal-form__image-block {
  flex: 2 1 auto;
  min-width: 50%;
  @media (max-width: $tablet) {
    display: none;
  }
}

.modal-form__image {
  width: 100%;
}

.modal-form__image img {
  display: block;
  margin: 0 auto;
}

.modal-form__option-link {
  margin-bottom: 10px;
  @media (max-width: $tablet) {
    margin-bottom: 6px;
  }
}
