@import './../../../styles/colors.scss';
@import './../../../styles/media.scss';

.general-info-wrapper {
  height: 120px;
  color: $color-white;
  background-color: $color-twilight;
  @media (max-width: $tablet) {
    height: auto;
  }
}

.footer-logo {
  width: 66%;
  @media (max-width: $tablet) {
    width: auto;
  }
}

.footer-logo__image img {
  max-height: 50px;
}

.footer-company-info {
  color: $color-gray-bright;
}

.footer-company-info a {
  color: $color-gray-bright;
  margin-right: 15px;
  font-size: 14px;
}

.footer-company-info__separator {
  margin: 0 15px;
}

.footer-general-info {
  position: relative;
  width: 34%;
  @media (max-width: $tablet) {
    width: auto;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.footer-general-info__media {
  position: absolute;
  display: flex;
  bottom: 0;
  right: 0;
  @media (max-width: $tablet) {
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    -ms-transform: translateY(100%);
  }
}

.footer-media {
  display: inline-block;
  margin-left: 30px;
  width: 50px;
  height: 50px;
  transition: 0.5s;
  background-color: white;
  @media (max-width: $tablet) {
    width: 40px;
    height: 40px;
    margin-left: 10px;
  }
}
.footer-media:hover {
  background-color: #ccc;
}

.footer-media_facebook {
  -webkit-mask: url(../../../resources/svg/media/facebook.svg) no-repeat center;
  mask: url(../../../resources/svg/media/facebook.svg) no-repeat center;
}

.footer-media_instagram {
  -webkit-mask: url(../../../resources/svg/media/instagram.svg) no-repeat center;
  mask: url(../../../resources/svg/media/instagram.svg) no-repeat center;
}

.footer-media_twitter {
  -webkit-mask: url(../../../resources/svg/media/twitter.svg) no-repeat center;
  mask: url(../../../resources/svg/media/twitter.svg) no-repeat center;
}
