@import './../../../styles/colors.scss';
@import './../../../styles/media.scss';

// Mixins

@mixin vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

// Main menu elements

.menu {
  height: 70px;
  color: $color-white;
  background-color: rgba($color: $color-twilight, $alpha: 1);
}

.header-menu-wrapper {
  max-width: 1300px;
  margin: 0 auto;
  overflow: hidden;
}

.header-menu {
  display: flex;
  flex-wrap: nowrap;
  height: 50px;
  margin: 10px 50px;

  @media (max-width: $tablet) {
    margin: 10px 20px;
  }
}

// Logo

.header-menu__logo {
  flex: 0 0 auto;
  margin-right: 10px;
}

.header-menu__logo img {
  width: 120px;

  @media (max-width: $tablet) {
    height: 100%;
  }
}

// Menu items

.header-menu__elements {
  flex: 0 0 auto;
  display: flex;
  flex-wrap: nowrap;
  cursor: pointer;
  @media (max-width: $tablet) {
    display: none;
  }
}

.header-menu__flex-empty {
  flex: 1;
}

.header-menu__element {
  margin-right: 33px;
  float: left;
  color: $color-white;
  transition: 0.5s;
}

.header-menu__element:hover {
  text-decoration: none;
  color: $color-gray-brighter;
}

.header-menu__element-text {
  @include vertical-align();
}

// Profile

.header-menu__profile {
  flex: 0 0 auto;
  @include vertical-align();
  @media (max-width: $tablet) {
    width: inherit;
  }
}

.header-menu__profile-button {
  height: 100%;
}

.header-menu__button {
  height: 50px;
  background-color: $color-blue;
  border: 2px solid $color-white;
  border-radius: 24px;
  padding: 12px 32px;
  @media (max-width: $tablet) {
    width: 100%;
  }
}

.header-menu__button_desktop {
  @media (max-width: $tablet) {
    display: none;
  }
}

.header-menu__button:hover {
  background-color: $color-blue-hover;
  @media (max-width: $tablet) {
    background-color: inherit;
  }
}

.header-menu__profile-button__button_mobile {
  display: none;
  @media (max-width: $tablet) {
    display: block;
    background-color: $color-white;
    border: none;
    -webkit-mask: url(../../../resources/svg/menu.svg) no-repeat center;
    mask: url(../../../resources/svg/menu.svg) no-repeat center;
    padding: 0;
    height: 100%;
    width: 50px;
  }
}

.header-menu__profile-button__button_mobile:hover {
  background-color: $color-white;
}

.header-menu_mobile {
  display: block;
  position: absolute;
  background-color: $color-twilight-faint;
  height: calc(100vh - 70px);
  width: 100%;
  z-index: 1000;
  left: 0;
  top: 70px;
}

.header-menu__list {
  list-style-type: none;
  padding: 20px 0;
  margin: 0 20px;
}

.header-menu__list li {
  font-size: 22px;
  margin-bottom: 10px;
}

.header-menu__list-element {
  display: inline-block;
  width: 100%;
  white-space: nowrap;
}

.header-menu__button-mobile {
  margin-top: 30px;
}
