@import './../../../styles/colors.scss';
@import './../../../styles/mixins.scss';
@import './../../../styles/media.scss';

.split-bg {
  @include HorizontalSplit($color-blue-bright, $color-neon-bright);
  @media (max-width: $tablet) {
    background: none;
    background-color: $color-blue-bright;
  }
}

.splitted-product-section {
  height: 100%;
  width: 50%;
  float: left;
  color: $color-white;
  @media (max-width: $tablet) {
    float: inherit;
    width: 100%;
    margin-bottom: 30px;
  }
}

.splitted-last-section_mobile {
  margin-bottom: 0;
}

.splitted-product-section h2 {
  color: $color-white;
  @media (max-width: $tablet) {
    margin-bottom: -10px;
  }
}

.splitted-product-section:last-child {
  float: right;
  @media (max-width: $tablet) {
    float: inherit;
  }
}

.product-section__image {
  width: 100%;
  max-height: 360px;
  overflow: hidden;
  @media (max-width: $tablet) {
    max-height: 300px;
  }
}

.product-section__text_left {
  margin-top: 30px;
  margin-right: 20px;
  text-align: right;
  @media (max-width: $tablet) {
    margin-top: 20px;
    margin-right: 0;
    text-align: left;
  }
}

.product-section__text_right {
  margin-top: 30px;
  margin-left: 20px;
  @media (max-width: $tablet) {
    margin-top: 20px;
    margin-left: 0;
  }
}

.product-section__image img {
  max-width: 260px;
  padding: 0 20px;
  transition: 1s;
  opacity: 0;
  max-height: 300px;
  @media (max-width: $tablet) {
    max-width: auto;
    padding: 0;
  }
}

.product-section__image_left img {
  transform: translateX(-150%);
  -webkit-transform: translateX(-150%);
  -moz-transform: translateX(-150%);
  -o-transform: translateX(-150%);
  -ms-transform: translateX(-150%);
  @media (max-width: $tablet) {
    float: inherit;
    display: block;
    margin: 0 auto;
  }
}

.product-section__image_right img {
  transform: translateX(150%);
  -webkit-transform: translateX(150%);
  -moz-transform: translateX(150%);
  -o-transform: translateX(150%);
  -ms-transform: translateX(150%);
  transition-delay: 0.5s;
  @media (max-width: $tablet) {
    display: block;
    margin: 0 auto;
  }
}

.product-section__button {
  margin-top: 40px;
  @media (max-width: $tablet) {
    margin-top: 20px;
  }
}

.product-block-image-container {
  display: inline-block;
  padding: 20px;
  @media (max-width: $tablet) {
    padding: 0;
    display: block;
  }
}

.product-block-image-container img {
  height: 200px;
}

.product-block-image_floated {
  float: right;
  @media (max-width: $tablet) {
    float: inherit;
  }
}
