@import './../../../styles/colors.scss';

.field-slider {
  position: relative;
  max-width: 100%;
  margin: 0 6px;
}

.field-slider__toggle {
  box-sizing: border-box;
  position: absolute;
  background-color: $color-gray-brightest;
  border: 1px solid $color-black;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  cursor: pointer;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  z-index: 2;
}

.field-slider__toggle:active {
  background-color: $color-neon;
}

.field-slider__progress {
  height: 2px;
  width: 100%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  background-color: $color-neon-accent;
  border: 1px solid $color-neon;
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
  clip-path: polygon(0 0, 0 100%, 20% 100%, 20% 0);
}

.field-description-unit-text {
  position: absolute;
  color: $color-gray;
  bottom: 50%;
  right: 15px;
}
