.page-notfound-flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.page-notfound-logo {
  background-image: url('./../resources/svg/404.svg');
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 120px;
  flex: 1;
}

.page-notfound-content {
  margin-left: 50px;
  flex: 3;
}

.page-notfound-content h2 {
  margin-top: 0;
}

.page-notfound-button {
  margin-top: 30px;
}

.page-about-us-prebutton-indent {
  margin-bottom: 50px;
}
