@import './../../../styles/colors.scss';
@import './../../../styles/media.scss';

.modal-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
  width: 100%;
  background-color: rgba($color: $color-black, $alpha: 0.7);
  overflow: hidden;
  color: $color-black;
}

.modal-content-wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 1400px;
  @media (max-width: $tablet) {
    height: 100%;
  }
}

.modal-content-bg {
  position: relative;
  margin: 40px 40px 0 40px;
  @media (max-width: $tablet) {
    margin: 0;
    height: 100%;
  }
}

.modal-content {
  overflow: hidden;
  padding: 40px;
  background-color: $color-white;
  border-radius: 12px;
  @media (max-width: $tablet) {
    border-radius: 0;
    padding: 20px;
    height: 100%;
  }
}

.modal-heading {
  position: relative;
  width: 100%;
  margin-bottom: 60px;
  @media (max-width: $tablet) {
    margin-bottom: 0;
  }
}

.modal-heading > h2 {
  font-size: 25px;
}

.modal-heading__close-button {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  background-color: $color-black;
  transition: 0.5s;
  cursor: pointer;
  -webkit-mask: url(../../../resources/svg/close-btn.svg) no-repeat center;
  mask: url(../../../resources/svg/close-btn.svg) no-repeat center;
  @media (max-width: $tablet) {
    width: 20px;
    height: 20px;
    top: 6px;
  }
}

.modal-heading__close-button:hover {
  background-color: $color-gray-faint;
}
