@import './../../../styles/media.scss';

// Main banner block

.banner {
  position: relative;
  height: 360px;
  @media (max-width: $tablet) {
    height: 280px;
  }
}

.header-banner-wrapper {
  transition: 1s;
  overflow: hidden;
  height: 100%;
}

.header-banner-static {
  background-repeat: no-repeat;
  background-size: cover;
}

// Arrows

.arrow {
  position: absolute;
  width: 50px;
  cursor: pointer;
}

.arrow img {
  width: 20px;
}

.banner__left-arrow {
  width: 20px;
  left: 20px;
  top: 170px;
  @media (max-width: $tablet) {
    top: auto;
    bottom: 20px;
  }
}

.banner__right-arrow {
  width: 20px;
  right: 20px;
  top: 170px;
  @media (max-width: $tablet) {
    top: auto;
    bottom: 20px;
  }
}
