@import './../../styles/colors.scss';
@import './../../styles/media.scss';

.hint {
  display: inline-block;
}

.hint-wrapper {
  display: inline-block;
  color: $color-black;
  border-bottom: 2px dashed $color-black;
  cursor: pointer;
  transition: 0.2s;
}

.hint-wrapper:hover {
  color: $color-blue-hover;
  border-bottom: 2px dashed $color-blue-hover;
}

.modal-item {
  position: absolute;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  background-color: $color-black-hover;
  color: $color-white;
  border-radius: 12px;
  padding: 15px;
  max-width: 400px;
  transition: 0.3s;
  opacity: 0;
  @media (max-width: $tablet) {
    max-width: 100%;
    left: 10px;
    right: 10px;
    padding: 10px;
  }
}
