@import './../../../styles/colors.scss';
@import './../../../styles/mixins.scss';
@import './../../../styles/media.scss';

.alter-bg {
  @include HorizontalGradient($color-blue-faint, $color-pink-faint);
}

.product-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 50px;
  width: 100%;
  @media (max-width: $tablet) {
    display: block;
    margin-left: -10px;
    margin-right: -10px;
    width: auto;
  }
}

.product-list__item {
  display: flex;
  flex-direction: column;
  border: $color-white 2px solid;
  color: $color-white;
  border-radius: 12px;
  flex-basis: 100%;
  flex: 1;
  margin-right: 40px;
  padding: 20px;
  @media (max-width: $tablet) {
    margin-right: 0;
    padding: 10px;
    margin-bottom: 20px;
  }
}

.product-list__item a:hover {
  color: $color-white;
  transition: 0ms;
}

.product-list__item:last-child {
  margin-right: 0;
}

.product-list-item-logo {
  margin-bottom: 20px;
  background-color: $color-neon;
  border-radius: 12px;
  @media (max-width: $tablet) {
    margin-bottom: 10px;
  }
}

.product-list-item-content-block {
  position: relative;
  margin: 0 10px;
  height: 100%;
  @media (max-width: $tablet) {
    margin: 0;
  }
}

.product-list-item-logo img {
  display: block;
  margin: 0 auto;
  padding: 20px;
  min-height: 160px;
  max-height: 160px;
  @media (max-width: $tablet) {
    min-height: 90px;
    max-height: 90px;
  }
}

.product-list-item-button {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.product-list-item-name {
  color: $color-white;
  margin-bottom: 10px;
  @media (max-width: $tablet) {
    margin-bottom: 0;
  }
}

.product-list-item-text {
  padding-bottom: 70px;
}
