@import './../../styles/media.scss';
@import './../../styles/colors.scss';

.contact-container-flex {
  display: flex;
  @media (max-width: $tablet) {
    display: block;
  }
}

.contact-map {
  flex: 1;
  margin-right: 80px;
  @media (max-width: $tablet) {
    margin-right: 0;
    margin-bottom: 30px;
  }
}

.contact-description {
  flex: 1;
}

.mapouter {
  position: relative;
  text-align: right;
  height: 100%;
  @media (max-width: $tablet) {
    height: 300px;
    width: auto;
  }
  background: linear-gradient(-45deg, $color-gray-brighter, $color-gray-bright);
  background-size: 400% 400%;
  animation: gradientBG 0.6s ease infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 100%;
  @media (max-width: $tablet) {
    height: 300px;
    width: auto;
  }
}

.contact-working-hours {
  border-collapse: collapse;
  border-spacing: 0;
}

.contact-default-trtd {
  padding-left: 0;
  margin-right: 10px;
  padding-right: 45px;
}
