@import './../../styles/colors.scss';
@import './../../styles/media.scss';

.field {
  height: 60px;
  border: 2px solid $color-gray;
  transition: 0.5s;
  border-radius: 8px;
  color: $color-black;
  font-size: 16px;
  padding: 20px 15px 5px 15px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  @media (max-width: $tablet) {
    height: 54px;
    padding: 20px 15px 5px 15px;
  }
}

input:focus {
  border: 2px solid $color-gray-faint;
}

.field-section {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
  @media (max-width: $tablet) {
    margin-bottom: 6px;
  }
}

.field-section__error-text {
  margin-top: 4px;
  color: $color-red;
  font-size: 14px;
  min-height: 22px;
  @media (max-width: $tablet) {
    font-size: 11px;
    min-height: 16px;
  }
}

.field-placeholder-text {
  pointer-events: none;
  transition: 0.5s;
  position: absolute;
  color: $color-gray;
  height: 60px;
  line-height: 60px;
  top: 0;
  padding: 0 15px 0 15px;
  @media (max-width: $tablet) {
    height: 54px;
    line-height: 54px;
  }
}
