@import './../../../../styles/colors.scss';
@import './../../../../styles/media.scss';

.footer-column__header {
  color: $color-gray-brightest;
}

.footer-column__header h4 {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 30px;
  @media (max-width: $tablet) {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

.footer-column__content {
  font-size: 14px;
  font-weight: normal;
}

.footer-column__content ul {
  margin: 0;
  padding: 0;
}

.footer-column__content li {
  display: block;
  margin-bottom: 10px;
  @media (max-width: $tablet) {
    margin-bottom: 6px;
  }
}
