@import './../../../styles/colors.scss';
@import './../../../styles/media.scss';

.compare-product-bg {
  background-color: $color-blue-bright;
  color: $color-white;
}

.compare-product-bg h2 {
  color: $color-white;
}

.compare-product-title {
  margin-bottom: 30px;
}

.compare-product-table {
  table-layout: fixed;
  border-spacing: 0px 0px;
  border-collapse: separate;
  width: 100%;
}

.compare-product-table_mobile {
  border-collapse: separate;
  table-layout: fixed;
  border-spacing: 0px 0px;
  margin: 15px 0 30px 0;
  width: 100%;
}

.compare-product-table_mobile td {
  border-bottom: 2px solid $color-gray-brightest;
}

.compare-product-table_mobile tr:last-child td {
  border-bottom: none;
}

.compare-product-table-bg {
  padding: 15px;
  padding: 15px;
  background-color: $color-white;
  border-radius: 16px;
  color: $color-black;
}

.compare-product-table th,
.compare-product-table td {
  border-bottom: 2px solid $color-gray-brightest;
  border-right: 3px solid $color-gray-brighter;
}

.compare-product-table th:last-child,
.compare-product-table td:last-child {
  border-right: none;
}

.compare-product-table th {
  font-weight: unset;
}

.compare-product-table td:first-child {
  padding: 0 20px 0 0;
}

.compare-product-table td {
  padding: 15px;
}

.compare-product-item-logo img {
  max-width: 40%;
  padding-bottom: 15px;
}

.compare-product-table tr:last-child > td {
  border-bottom: none;
}

.compare-product__property {
  text-align: center;
}

.compre-product__position {
  text-align: right;
  margin-right: 20px;
}
