@import './../../../styles/colors.scss';
@import './../../../styles/media.scss';

.react-phone-number-input {
  height: 60px;
  border: 2px solid $color-gray;
  transition: 0.5s;
  border-radius: 8px;
  color: $color-black;
  font-size: 16px;
  padding: 20px 15px 5px 15px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  @media (max-width: $tablet) {
    height: 54px;
  }
}

.react-phone-number-input__input {
  flex: 1 1;
  min-width: 0;
}

.react-phone-number-input__phone {
  outline: none;
  border-radius: 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  transition: border 0.1s;
  font-size: inherit;
}

.react-phone-number-input__country--native {
  margin-top: -12px;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  margin-right: 0.5em;
}

.react-phone-number-input__row {
  display: flex;
  align-items: center;
  height: 100%;
}

.react-phone-number-input__country-select {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  border: 0;
  opacity: 0;
  cursor: pointer;
}

.react-phone-number-input__icon-image {
  max-width: 100%;
  max-height: 100%;
}

.react-phone-number-input__icon {
  width: 24px;
  height: 100%;
  box-sizing: content-box;
  position: relative;
  @media (max-width: $tablet) {
    width: 20px;
  }
}

.react-phone-number-input__icon svg {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.react-phone-number-input__icon img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.react-phone-number-input__row input {
  height: 100%;
  transition: 0.5s;
  border-radius: 8px;
  color: $color-black;
  font-size: 16px;
  width: 100%;
}

.react-phone-number-input__row input:focus {
  border: none;
}

.phone-field-placeholder-text {
  padding-left: 50px !important;
}
