@import './../../styles/media.scss';

.footer {
  width: 100%;
}

.footer-content {
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px 0;
}

.footer-indent-block {
  margin: 0 50px;
  display: flex;
  @media (max-width: $tablet) {
    display: block;
    margin: 0 20px;
    position: relative;
  }
}
